# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js build
.next/
out/
build/

# testing
coverage/

# env files
.env*
next-env.d.ts
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
Thumbs.db
*.pem

# deployment
.vercel/

# IDEs and editors
.vscode/
.idea/
